/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Buttons Start
-----------------------------------------------------------------*/
.btn-secondary,
.btn-danger,
.btn-info,
.button,
.btn_1,
.btn,
.btn-check{
background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07)!important;
border: 1px solid #a55d07!important;
color: rgb(120,50,5)!important;
text-shadow: 0 2px 2px rgba(250, 227, 133, 1)!important;
cursor: pointer;
transition: all .2s ease-in-out;
background-size: 100% 100%;
background-position:center;	
box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1)!important;
text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
text-decoration: none;
font-weight: bold;
display: inline-block;
outline: none!important;
font-family: inherit;

             
}

.btn-secondary:hover,
.btn-danger:hover,
.btn-info:hover,
.button:hover,
.btn_1:hover,
.btn-check:hover,
.btn:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1)!important;
  border: 1px solid rgba(165,93,7,.6)!important;
color: black!important;

}


/* ----------------------------------------------------------------
	Buttons End
-----------------------------------------------------------------*/



/* Floating Contact
-----------------------------------------------------------------*/
.floating-contact-wrap {
	position: fixed;
	right: 50px;
	bottom: 120px;
	z-index: 299;
}

.floating-contact-wrap .floating-contact-btn {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	background-color: #25D366;
	color: #FFF;
	cursor: pointer;
	z-index: 3;
	color: #222;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: transform .3s ease;
}

.floating-contact-wrap .floating-contact-btn:hover,
.floating-contact-wrap.active .floating-contact-btn {
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
	background-color: #222;
	color: #FFF;
}

.floating-contact-wrap .floating-contact-btn .floating-contact-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 22px;
	-webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-backface-visibility: hidden;
}

.floating-contact-wrap .floating-contact-btn .floating-contact-icon.btn-active,
.floating-contact-wrap.active .floating-contact-btn .floating-contact-icon {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.floating-contact-wrap.active .floating-contact-btn .floating-contact-icon.btn-active {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.floating-contact-wrap .floating-contact-box {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 380px;
	background-color: #fff;
	border-radius: 6px;
	z-index: 1;
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.07);
	-webkit-transform: scale(.01);
	transform: scale(.01);
	 -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-webkit-backface-visibility: hidden;
}

.floating-contact-wrap.active .floating-contact-box {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.floating-contact-wrap .css3-spinner { background-color: rgba(255, 255, 255, 0.8) }

.floating-contact-wrap form { padding: 35px 30px; }

#floating-contact-submitted,
.floating-contact-success #floating-contact,
.floating-contact-success .floating-contact-heading,
body:not(.floating-contact-processing) .floating-contact-loader { display: none; }

.floating-contact-success #floating-contact-submitted { display: block; }


